/* Modifying Bootstrap Components below */

.card {
    border: 0px !important;
}


.nav-tabs > li > a:hover {
    color: black !important;
}

.nav-tabs > li > a:active {
    background-color: transparent !important;
}

a.nav-link.active {
    background-color: transparent !important;
    border-color: transparent !important;
}

button {
    padding: 10px !important;
    margin: 5px !important;
    border-radius: 10px !important;
}

p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif !important;
}

/* Custom CSS Below */


#prospect-label {
    background-color: whitesmoke;
}

#prospect-label:active {
    background-color: whitesmoke !important;
}

#prospect-tab {
    color: navy
}

#prospect-tab:active {
    background-color: whitesmoke !important;
}

#prospect {
    /* background-color: white */
    background-color: whitesmoke;
    padding: 50px
}

#client-label {
    background-color: lightblue
}

#client-tab {
    color: navy
}

#client {
    background-color: lightblue;
    padding: 50px
}

#natural-label {
    background-color: lightskyblue
}

#natural-tab {
    color: navy
}

#natural {
    background-color: lightskyblue;
    padding: 50px
}

#suspect-label {
    background-color: royalblue
}

#suspect-tab {
    color: white
}

#suspect {
    background-color: royalblue;
    padding: 50px;
    color: white
}

#referral-label {
    background-color: blue
}

#referral-tab {
    color: white
}

#referral {
    background-color: blue;
    padding: 50px;
    color: white;
}

#target-label {
    background-color: navy;
}

#target-mkt-tab {
    color: white
}

#target-mkt {
    background-color: navy;
    padding: 50px;
    color: white
}