#note-view-container-1 {
    background-color: transparent !important;
}

.note-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

/* .note-viewer {
    height: '500px' !important;
    overflow: auto
} */

#note-viewer-1 {
    height: '300px';
    overflow: auto
}


#note-viewer-2 {
    height: '100px';
    overflow: auto
}